---
Checks: >
  clang-analyzer-*,
  cppcoreguidelines-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
  portability-*,
  google-*,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -google-default-arguments,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-avoid-c-arrays,
  -readability-magic-numbers,              
  -readability-uppercase-literal-suffix,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-type-union-access,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-vararg,
  -readability-convert-member-functions-to-static,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -readability-identifier-length,
  -misc-use-anonymous-namespace,
  -misc-unused-parameters,
  -misc-include-cleaner,
  -hicpp-*                                

CheckOptions:
  - key: readability-identifier-naming.StaticMemberPrefix
    value: 's_'
  - key: performance-move-const-arg
    value: '1' # Enforce correct usage of std::move
  - key: modernize-use-nullptr
    value: '1'

HeaderFilterRegex: '^(Raven|Blackbird)/.*'
# AnalyzeTemporary: false