# specific directories or files
.vs/
.vscode/

# logs
Logs/

# CMake-related files and directories
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# generated binary directories
bin/
lib/
Blackbird/imgui.ini

# build-related files and directories
build/
build.ninja

# GLFW-related files
vendor/glfw/src/src/glfw3.pc

# cache directories
.cache/
.ninja_deps
.ninja_log

# Python cache directory
scripts/__pycache__/


Ravi.exe
